* {
    box-sizing: border-box;
}

.h1 {
    text-align: center;
}
.app--wrapper {
    text-align: center;
    border: 1px solid black;
    
}

.cats--wrapper {
    display: inline-block;
    width: 68%;
}

#catList {
    list-style: none;
    padding-left:0;
    margin-bottom: 2rem;
}

.cat--li {
    padding: .3rem 0;
}

.cat--li:hover {
    cursor: pointer;
    background: skyblue;
}

#catPic {
    max-height: 40%;
    max-width: 40%;
}

.admin--form {
    border: 1px solid black;
    display: none;
}

.form--label, .form--input {
    display: block;
    text-align: center;
    margin: 1rem auto;
/*    padding: 1rem;*/
}