* {
    box-sizing: border-box;
}

.h1 {
    text-align: center;
}
.app--wrapper {
    text-align: center;
}

.cats--list {
    display: inline-block;
    width: 20%;
}
.list {
    display: inline-block;
}
.cat__name {
    transition: all .3s;
}

.cats--wrapper {
    display: inline-block;
    width: 68%;
}
.cat {
    display: inline-block;
    width: 90%;
    display: none;
    transition: all 2s;
}

.cat__pic {
    max-width: 40%;
    max-height: 40%;
    border-radius: 1rem;
}

.cat__name--active {
    color: darkred;
    background: #ffc600;
}

.cat__pic--active {
    display: inline-block;
}